@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome Innovative-e</h1>
        <p class="lead">Leave Management Application.</p>
    </div>
</div>

